@charset "utf-8";

/* CSS Document */

@media only screen and (max-width: 1320px) {

#header #page_title {
}

}

@media only screen and (max-width: 1226px) {
    
.contain_row {
    max-width: 740px;
}

}

@media only screen and (max-width: 1220px) {



#header h1 {

	}



#work h4 {

	font-size:20px;

	}



}

@media only screen and (max-width: 1170px) {

#header #page_title {
}

}

@media only screen and (max-width: 1105px) {

#logo_wrap {
    max-width: 771px;
}

}

@media only screen and (max-width: 1050px) {

#header #page_title {
}

}

@media only screen and (max-width: 1036px) {

.web_contain {
	}

#work .row {
}

}

@media only screen and (max-width: 967px) {

.about_box {
    width: 100%;
    padding: 5% 30px 3%;
}

}

@media only screen and (max-width: 950px) {

#header #page_title {
}

#header h1 {
	}



#work h4 {

	font-size:15px;

	}

#contact_content {
    padding:20px;
}

#contact_info {
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin: 20px auto 0px;
    background-color: #f7f7f7;
    /* border: 1px solid #eee; */
    border-radius: 5px;
    padding: 30px 40px 5px;
    float: none;
	width:100%;
}

#contact_form {
    max-width: 600px;
    padding: 10px 20px 0px;
    margin-left: 30px;
    border: 1px solid #eee;
    background-color: #79b7d0;
    border-radius: 8px;
    /* margin-top: 20px; */
    margin: 20px auto;
    float: none;
}

}


@media only screen and (max-width: 900px) {

#header #page_title {
}

#header h1 {
	}

#header h4 {
	}

}

@media only screen and (max-width: 886px) {

.web_contain {
	}

#work .row {
}

@media only screen and (max-width: 847px) {

#logo_wrap {
    max-width: 514px;
}

}

@media only screen and (max-width: 813px) {



#header {

	padding-bottom:125px;

	}



#header h1 {
	}

	

#header h4 {
	}		

.section_title {
	padding:32px 0px 21px;
	}



.section_title h4 {
	padding-top:10px;
	}



#about h2 {

	font-size:30px;

	}



#contact h2 {

	font-size:23px;

	}

	

#contact p {

	font-size:75px;

	padding:0px 45px 45px;

	line-height:68px;

	}



#top_disabled {

	display:none;

	}

#header #page_title {
}

}

@media only screen and (max-width: 790px) {

#header #page_title {
    
}


}

@media only screen and (max-width: 767px) {

 .work_container {
    margin-top: 0px;
    }
    
.contain_row {
    max-width: 370px;
    margin-bottom: 0px;
}    
    
    .lp_title_container {
        margin:0;
        padding:0;
        margin:auto;
    }   

#designs p {
    padding: 20px;
}
    
    
#header {
	background-attachment:inherit;
	background:
		linear-gradient(
		rgba(37,126,170,0.85),
		rgba(37,126,170,0.85)
		),
		url(../images/header_bg2_mobile.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	text-align:center;
	height:100vh;
	background-attachment:fixed;
	padding-bottom:70px;
	}



#header #page_title {
    padding-top:20%;
} 

#header h1 {
	text-align:center;
    font-size: 60px;
	}

#header h4 {
	text-align:center;
	padding:0 25px;
	font-size:22px;
	}

#header p {
	margin:0;
	padding:0 20px;
	font-size:18px;
	}


.action_btn {
}

#about_btn a:nth-last-child(2) {
	
	
	}

.action_btn {
	}

.action_btn:nth-last-child(2) {
	}

nav {

	overflow:scroll;

	}



#add_info1, #add_info2, #add_info3 {
display: block;
    margin: 0;
    padding: 10px 15px;
    margin-left: 0px;
    cursor: pointer;
    width: 120px;
    background-color: #257eaa;
    text-align: center;
    color: #fff;
	}



#remove_info1, #remove_info2, #remove_info3 {
	 margin: 0;
    padding: 10px 15px;
    margin-left: 0px;
    cursor: pointer;
    width: 120px;
    background-color: #257eaa;
    text-align: center;
    color: #fff;
	}



#drop_info1, #drop_info2, #drop_info3 {

	display:none;

	}



#header h2 {
	line-height:20px;
	padding:0 25px;
	margin:0;
	font-size:18px;
	display:none;
	position:absolute;
	bottom:0;
	}	

#wid {
	padding: 0px 20px 20px;
	background-position: center;
	}	

.for_you {

	padding:40px;

	}	



.for_you h2 {

	text-align:left;

	}



.for_you h3 {
	text-align:center;
	max-width: 560px;
    margin: auto;
	}



.for_you h4 {

	margin-left:0;

	}



.box2 {

	padding:30px;

	margin:30px auto;

	}



.box3 {

	margin:auto;

	margin-bottom:30px;

	margin-top:30px;

	}



.p_mod {

	padding-left:0px;

	max-width:690px;

	}



div.box1.p_mod.col-sm-8 {

	margin:0;

	}



.box1 h3 {

	font-size:20px;

	}



.box1 p {

	padding:20px 0px;

	}



#about h2 {

	font-size:23px;

	}

#contact {
	padding-top:50px;
	padding-bottom:20px;
	}

#contact h2 {

	font-size:17px;

	}

	

#contact p {

	font-size:56px;

	padding:0px 34px 34px;

	line-height:51px;

	}



.action_btn {

	}



#about_btn a:link {
	}



#footer p {

	margin:40px auto 20px;

	text-align:center;

	}







#footer .row a {

	margin:auto;

	display:block;

	max-width:200px;

	text-align:center;

	}

.work_header {
	background: url(../images/tk_header_bg3_md.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	}

.work_header_rc {
	background: url(../images/rc_header_bg2_md.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	}
	
.work_header_scs {
	background: url(../images/scs_header_bg2_md.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top right;
	}
	
.work_header_ld {
	background: url(../images/ld_header_bg3_md.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	}
	
#about_header {
	background: url(../images/header_bg4.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	}
	
#contact_header {
	background: url(../images/header_bg2_md.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	}	

#logo_header {
	background: url(../images/logo_bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	}	

.work_header, .work_header_rc, .work_header_scs, .work_header_ld, #about_header, #contact_header {

	padding:30px 0px 60px;
	
	}



#work_about, #work_about_rc, #work_about_scs, #work_about_ld {

	padding:40px 0px;

	}



#work_about p, #work_about_rc p, #work_about_scs p, #work_about_ld p {
	margin-top: 20px;
	font-size:16px;
	line-height: 22px;
    padding: 0px 30px;
	}



#work_about h4, #work_about_rc h4, #work_about_scs h4, #work_about_ld h4 {

	font-size:16px;

	}



#work_about h2, #work_about_rc h2, #work_about_scs h2, #work_about_ld h2 {

	font-size:30px;

	}



#work_about .container {

	padding:0;

	}



#work_about .container p {
	
	}



.work_contain {

	margin-bottom:20px;

	}



#work_tools, #work_tools_rc, #work_tools_scs, #work_tools_ld {

	padding:40px 80px;

	text-align:center;

	}

#work_tools .container {
	padding-bottom:0;
	}

.bb {

	border-bottom:1px solid #fff;

	}



.tk_tab h3 {

	color:#ac7e33;

	}	



.page_contain {

	padding:0px 80px 20px;

	}



.mobile_contain{

	margin-bottom:0px;

	padding:0px 140px 40px;

	}



.mobile_contain:last-child {

	margin-bottom:0px;

	}



#work_pages, #work_pages_scs, #work_mobile, #work_mobile_rc, #work_mobile_scs, #work_mobile_ld, #work_next {
margin: 0;
    padding: 15px 0px;

	}



#work_pages h3, #work_pages_scs h3,  #work_mobile h3, #work_mobile_rc h3, #work_mobile_scs h3, #work_mobile_ld h3, #work_next h3 {

	padding:40px;

	}



#work_mobile_scs,{

	padding:0px;

	}

	

#work_mobile_scs h3 {

	margin-top:0;

	margin-bottom:0;

	}

	

#footer {

	padding:20px 0px 20px;

	}



#contact_info {

	text-align:center;

	margin-bottom:40px;

	}



#contact_form {

	text-align:center;

	}



#form, #select {

	margin:40px auto;

	}	



.form-group {

	margin:auto;

	}



#photo {

	max-width:350px;

	margin:auto;

	}

#content_info h3 {
    font-size: 28px;
}

#content_info .web_title {
    font-size: 36px;
}

#content_info h3, #content_info .web_title {

	text-align:center

	}



#about_content {

	padding: 40px 0px 40px;

	}

#work {
	max-width:525px;
	margin-bottom:80px;
	}

#work_title h1, #work_title_tk h1, #work_title_rc h1, #work_title_scs h1, #work_title_ld h1, #about_title h1, #contact_title h1 {
	font-size:65px;
	}

.about_box {
    width: 100%;
}

#edu {
    padding: 60px 30px;
}

#logo_intro p {
    font-size: 18px;
	}

.web_contain {
    max-width: 475px;

}
    
}
@media only screen and (max-width: 667px) {

#work_title h1, #work_title_tk h1, #work_title_rc h1, #work_title_scs h1, #work_title_ld h1, #about_title h1, #contact_title h1 {
	font-size:60px;
	}
	
#header h4 {
	}
	
#content_info h3 {
    font-size: 20px;
}

#content_info .web_title {
    font-size: 24px;
}	
	
}

@media only screen and (max-width: 590px) {

#logo_wrap {
    max-width: 257px;
}

}

@media only screen and (max-width: 480px) {

.web_contain {
    max-width: 280px;
}
    
#work h2 {
	font-size:20px;
	}

.contain_row {
    max-width: 290px;
}   
 
.work_container {
    width: 290px;
}    
    
}    
    
@media only screen and (max-width: 445px) {



#add_info1, #add_info2, #add_info3 {

	margin-left:0;
	margin:auto;
	}



#remove_info1, #remove_info2, #remove_info3 {

	
margin:auto;
	}



#header h1 {
	}			

#header h4 {
	font-size: 15px;
	}

.section_title {

	}



.web {


	}

.for_you {
	padding: 40px 0px;
	}

.box1 p {
	padding:0;
	padding:20px;

	}



.box1 {

	padding-left:0px;

	padding-right:0px;

	}



#about_btn a:link {
}


#about p {

	padding-left:0px;

	padding-right:0px;

	}

#btn_center {
	}

#btn_center_container {
	}

#about .container {

	padding-left:0px;

	padding-right:0px;

	}

#work_about .container p {
}




#contact p {

	padding-left:15px;

	padding-right:15px;

	}



#contact .container {

	padding-left:0px;

	padding-right:0px;

	}



#work_title h1, #work_title_rc h1, #about_title h1, #work_title_scs h1, #work_title_id h1, #contact_title h1, #about_title h1, #contact_title h1 {

	font-size:50px;	

	}



#work_tools, #work_tools_rc, #work_tools_scs, #work_tools_ld {

	padding:40px 20px;

	}



.page_contain {

	padding:0px 20px 20px;

	}



.mobile_contain{

	margin-bottom:0px;

	padding:0px 60px 40px;

	}

#work_pages, #work_pages_scs, #work_mobile, #work_mobile_rc, #work_mobile_scs, #work_mobile_ld, #work_next {
    margin: 0;
    padding: 15px 20px;
}

}



@media only screen and (max-width: 353px) {



#header h1 {

	
    font-size: 40px;
	line-height:30px;

	}			



#contact_header {

	padding:20px;

	}



.section_title {

	padding:18px 0px;

	}



.web {

	}

	

.action_btn {
	}	



#about_btn a:link {

	}	



#contact_btn a:link {

	}	



#work_title h1, #work_title_rc h1, #about_title h1, #contact_title h1, #about_title h1, 
#contact_title h1  {

	font-size:15px;

	}



}



/*

@media only screen and (max-width: 1016px) {



#realcutz h2 {

	text-align:center;

	}



#realcutz_layout {

	float:none;

	margin:auto;

	}



aside {

	margin:0;

	padding:0;

	float:none;

	margin:auto;

	text-align:center;

	}



aside iframe {

	max-width:600px;

	width:100%;

	}



}



@media only screen and (max-width: 768px) {

#email h1 {

	display:none;

	}



#email img {

	padding-left:0px;

	float:none;

	}



#menu {

	display:block;

	color:#fff;

	padding:10px;

	background-color:#6aa5be;

	float:right;

	font-weight:bold;

	border-radius:3px;

	}



#menu:hover {

	display:block;

	color:#fff;

	background-color:#333;

	float:right;

	font-weight:bold;

	cursor:pointer;

	}

	

#nav_menu {

	padding-top:70px;

	position:fixed;

	width:100%;

	

}	



nav {

	display:none;

	}	



#nav_menu ul {

	float:right;

	}





#nav_menu ul ul {

	margin-left:-230px;

	background-color:rgba(0,0,0,.01);

	}

	

#nav_menu ul ul li {

	background-color:#333;

	border:none;

	width:100%;

	border:1px solid #2d2d2d;

	background-color:none;

	padding:15px 15px;

	}

		

#nav_menu ul ul li:hover {

	background-color:#222;

	}



#nav_menu li{

	float:none;

	margin:0;

	padding:0;

	padding:20px 0px;

	width:100%;

	background-color:#6aa5be;

	text-transform:uppercase;

	border-bottom:1px solid #6EABC5;

	text-align:center;

	}



#nav_menu li a {

	padding:0;

	margin:0;

	padding:30px;

	

	}



#nav_menu li a:hover {

	color:#fff;

	}



#nav_menu li:last-child {

	border-bottom:none;

	}



#nav_menu li:link {

	color:#fff;

	}



#nav_menu li:visited {

	color:#fff;

	}



#nav_menu li:hover {

	background-color:#333;

	color:#333;

	}	



#container {

	padding:80px 0px 60px 0px;

	}



#myphoto h1 {

	margin:0;

	padding:0;

	}



#social_container {

	margin:0px;

	padding:40px 0px 0px 0px;

}

	

#myphoto h4 {

	font-size:14px;

	}



#infoarrow {

	display:none;

	}



#bio article {

	font-size:16px;

	padding:0px;

	margin:0px;

	margin-top:10px;

	width:98%;

	}



#next {

	display:none;

	}	



#web_dev {

	padding:100px 0px 60px 0px;

	}



.webtn_1 img {

	max-width:768px;

	width:100%;

	float:none;

	}



.webtn_1 {

	margin-bottom:40px;

	}



.side_content {

	margin-left:0px;

	margin:0;

	margin-top:20px;

	}



.side_content p {

	margin-left:0px;

	}



#web_dev h3 {

	margin-left:0px;

	margin:0px;

	}



.side_content h4 {

	margin-left:0px;

	padding:20px 0px 0px;

	}



.side_content ul {

	margin-left:0px;

	}



.side_content li {

	display:inline;

	}





#web {

	padding:60px 0px 25px 0px;

	}	



#web h2 {

	margin:0;

	padding:15px 0px 0px 0px;

	text-align:center;

	text-transform:capitalize;

	width:100%;

	}



.link {

	text-align:center;

	margin:auto;

	background-color:red;

	width:110px;

	}



#art {

	padding:60px 0px 60px 0px;

	}



#art h2 {

	text-transform:capitalize;

	width:100%;

	margin-bottom:15px;

	padding:40px 0px 0px 0px;

	}



#art_thumbnails {

	width:86%;

	}



#art_thumbnails article {

	margin:0;

	padding:0;

	float:none;

	width:100%;

	margin-bottom:20px;

	margin-top:30px;

	}



#infoclick {

	}



#art_bg {

	margin:0;

	padding:0;

	float:none;

	width:100%;

	margin:auto;

	margin-top:20px;

	}

	

#art_bg img {

	margin:0;

	padding:0;

	margin-bottom:20px;

	}	



#contact {

	padding:60px 0px 60px 0px;

	text-align:center;

	}	



#contact h2 {

	}



#email {

	font-size:36px;

	}

	

}



@media only screen and (max-width: 725px) {



.layout_designs {

	float:left;

	width:45%;

	}



}



@media only screen and (max-width: 563px) {



#contact h2 {

	margin:0;

	margin-top:20px;

	float:none;

	text-align:center;

	margin-bottom:40px;

	}



#email img {

	float:none;

	}



#contact {

	padding:60px 0px 100px;

	}



}



@media only screen and (max-width: 312px) {



#header {

	height:71px;

	line-height:71px;

	}



#logo {

	width:70%;

	margin:0;

	padding:0;

	}



#menu, #menu:hover {

	margin:0;

	padding:0px 10px;

	border-radius:0;

	}



#nav_menu li{

	margin:0;

	padding:0;

	padding:20px 0px;

	width:100%;

	}



}

*/